.wrapper-notification {
  padding: 1.5*$em $em;
}
.site-notification em {
  font-style: italic;
  text-decoration: underline;
}
.site-notification .link {
  color: $b;
  font-weight: bold;
}
.site-notification .link:after {
  background: $b;
}
.site-notification .link:hover {
  color: $text;
}
