body {
    background: $bg;
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}
.text-alt {
    color: $textalt;
}
.text-glt {
    color: $g_lt;
}
.text-blt {
    color: $blt;
}
.bg-y {
    background: $y;
}
.bg-b {
    background: $b;
}
.bg-blt {
    background: $blt;
}
.bg {
    background: $bg;
}
.bg-alt {
    background: $bgalt;
}
.bg-glt {
    background: $g_lt;
}
.bg-gmd {
    background: $g_md;
}
.bg-gdk {
    background: $g_dk;
}
.site-notification {
    background: $g_lt;
    color: $text;
    text-align: center;
}
.site-header {
    text-align: center;
}
.site-main {
    background: $b;
    min-height: 100vh;
}
.site-footer {
    background: $bgalt;
    color: $textalt;
}
.align-center {
    text-align: center;
}
#hero {
    display: block;
    font-size: 1.414em;
    margin: 1.3em auto 0;
    max-width: 32em;
    width: 100%;
}
