.wrapper-footer {
  padding: 1.5*$em $em;
}
.site-footer .link {
  color: $b;
  font-weight: bold;
}
.site-footer .link:after {
  background: $b;
}
.site-footer .link:hover,
.site-footer .link.link-yellow:hover {
  color: $textalt;
}
.site-footer .link.link-yellow {
  color: $y;
}
.site-footer .link.link-yellow:after {
  background: $y;
}
