html {
  color: $text;
  font-family: $serif;
  font-size: 1em;
}

body {
  line-height: 1.45;
}
code,
.mono-code {
  font-family: $code;
  font-size: .667em;
  font-weight: bold;
  padding: .333*$em;
  white-space: pre-wrap;
}
pre,
.mono {
  color: $text !important;
  font-family: $code;
  background: $blt;
  display: block;
  font-size: .667em;
  padding: .667*$em .333*$em;
  white-space: pre-wrap;
}
.chapter-content ul {
  list-style-type: disc;
}

.chapter-content blockquote {
  border-bottom: .1875em solid $g_lt;
  border-top: .1875em solid $g_lt;
  font-style: italic;
  padding: 1.3em 0;
  text-indent: 2.6em;
}
.chapter-content blockquote strong,
.chapter-content blockquote b {
  display: block;
  font-size: .875em;
  font-weight: bold;
  text-align: right;
}

.chapter-content blockquote+p,
.chapter-content ul+p,
.chapter-content pre+p {
  margin-top: 1.3em;
}

p:not(:last-of-type) {
  margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
  font-weight: inherit;
  line-height: 1.2;
  margin: 1.414em 0 0.5em;
}

h1 {
  font-family: $helvetica;
  font-size: 3.998em;
  font-weight: bold;
  margin-top: 0;
}

h2 {
  font-family: $helvetica;
  font-size: 2.827em;
  font-weight: bold;
  margin-top: 0;

}

h3 {
  font-size: 1.999em;
  &.section-heading {
    margin-top: 0;
    font-style: italic;
    text-align: center;
  }
}

h4 {
  font-size: 1.414em;
}

small, .font_small {
  color: $g_lt;
  font-size: 0.707em;
}
.bg-b .link {
  color: $w;
}
.bg-b .link:after {
  background: $w;
}
.link {
  display: inline-block;
  color: $b;
  font-family: $helvetica;
  font-weight: bold;
  position: relative;
  text-decoration: none;
  transition: color .2s;
}
.link:hover {
  color: $text;
}
.link:after {
  position: absolute;
  bottom: -.09375em;
  left: 0;
  width: 100%;
  height: .1875em;
  background: $b;
  content: '';
  transition: all .2s;
}

.button {
  background: $y;
  border-top: solid .1875em;
  border-radius: 1px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: $text;
  display: inline-block;
  font-family: $helvetica;
  font-size: $em;
  font-weight: bold;
  margin: auto;
  position: relative;
  padding: ($em - 3px) 2*$em $em;
  text-decoration: none;
  text-align: center;
  transition: all .25s;
  max-width: 288px;
}
.button:hover {
  background: $bg;
  color: $text;
}
.button .fa-amazon {
  padding-right: .5*$em;
}
.section-quote blockquote {
    font-size: 1.414em;
    font-style: italic;
    @include media-query($m) {
      font-size: 1.999em;
    }
}
.section-quote em {
  text-decoration: underline;
}
.section-quote span {
  color: $b;
  display: inline-block;
  font-family: $helvetica;
  font-weight: bold;
  margin-top: 1.414em;
}
.italic {
  font-style: italic;
}
.flourish {
  color: rgba($text,.5);
  display: block;
  font-size: 1.414em;
  position: relative;
  margin: 1.3em auto;
  width: 4em;
}
.flourish:before,
.flourish:after {
  background: rgba($text,.125);
  content: "";
  display: block;
  height: .1875em;
  position: absolute;
  top: .685em;
  width: 2em;
}
.flourish:before {
  left: -1em;
}
.flourish:after {
  right: -1em;
}

ol {
  list-style-type: decimal;
}
