$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #f1c40f;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);


$helvetica: Helvetica Neue,"nimbus-sans",Helvetica,Arial,sans-serif;
$serif: "freight-text-pro",Georgia,serif;
$code: "Courier New", Courier, mono;

$bg: #fdfdfd;
$bgalt: #231f20;
$g_lt: #eee;
$g_md: #999;
$g_dk: #333;

$w: #fdfdfd;

$text: #231f20;
$textalt: #fdfdfd;
$y: #f1c40f;
$b: #32C0D3;
$blt: #CBEAEF;

$em: 16px;

$s: 320px;
$s-m: 480px;
$m: 640px;
$m-l: 800px;
$l: 960px;
$xl: 1120px;

